# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Java ###
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

### Spring Boot / Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Logs ###
logs/
log/

### OS files ###
.DS_Store
Thumbs.db

### IDE khác ###
.vscode/
*.swp
*.env